body {
    font-family: Helvetica, Sans-Serif;
}
header {
    width: 100%;
    height: 50px;
}
.logo {
    position: absolute;
    top: 2%;
    left: 2%;
}
.logo a {
    font-size: 17px;
    color: #FA6980;
    font-weight: bold;
}
.navigation {
    position: absolute;
    top: 2%;
    right: 5%;
}
.navul {
    display: flex;
}
.navli {
    padding-right: 10px;
}
.navlia {
    color: #343638;
    opacity: 0.6;
    font-weight: bold;
    font-size: 15px;
}
.active {
    opacity: 1;
}
/* Proffile img */
.proffile {
    position: absolute;
    right: 30px;
    top:0.9%;
}
.proffileimg {
    width:40px;
    border-radius: 50%;
    transition: 0.2s ease-in;

}
.proffileimg:hover {
    transition: 0.2s ease-in;
    width: 42px;
}
/* Section */
.landingsection {
    width:100%;
    height: 640px;
}
.leftsect{
    display: flex;
}
.leftimg {
    width: 840px;
}
.leftimg img {
    width:100%;
    position: relative;
}
.lefttext {
    position: absolute;
    top: 277px;
    left: 100px;
    width: 53%;
}
.lefttext h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    width: 500px;
    height: 44px;
    border-bottom: 1px solid #fff;
}
.lefttext h2 {
    font-size: 24px;
    margin-top: 15px;
    color: #fff;
    font-weight: bold;
}
.lefttext p {
    font-size: 15px;
    margin-top: 10px;
    width: 530px;
    color: #fff;
}
.btnleft {
    background-color: #FA6980;
    color: #fff;
    border: none;
    border-radius: 6px;
    width: 134px;
    height: 40px;
    margin-top: 15px;
}
/* right */
.morenews {
    margin-left: 100px;
    width: 40%;
}
.moretext {
    position: absolute;
    top: 150px;
    width: 30%;
}
.left-right {
    position: absolute;
    right:1%;
    cursor: pointer;
}
.leftb, .rightb {
    font-size: 20px;
    padding-left: 20px;
    transition: 1s ease;

}
.leftb:hover,.rightb:hover {
    font-size: 22px;
    transition: 1s ease;
}
.disactiv {
    opacity: 0.5;
}
.moretext h1 {
    font-size: 24px;
    color: #343638;
    font-weight: bold;
    border-bottom: 2px solid #EBEDED;
    height: 55px;
}
.infoland {
    margin-top: 40px;
}
.infoh4 {
    color: #FA6980;
    font-weight: bold;
    font-size: 18px;
}
.infoh5 {
    margin-top: 15px;
    color: #202124;
    font-size: 18px;
    font-weight: bold;
}
.infop {
    margin-top: 5px;
    color: #A6ADB4;
    font-weight: 500;
    font-size: 17px;
}
.time {
    position: absolute;
    margin-top: 10px;
    display: flex;
}
.timclock {
    color: #A6ADB4;
    margin-right: 10px;
}
.timeh5 {
    margin-top: 1px;
    color: #A6ADB4;
    font-size: 15px;
}
/* Technology */
.tech {
    margin-top: 58px;
}
.tech4 {
    color: #FA6980;
    font-size: 18px;
    font-weight: bold;
}
.techh5 {
    color: #202124;
    font-weight: bold;
    margin-top: 14px;
}
.techp {
    margin-top: 5px;
    color: #A6ADB4;
    font-weight: 500;
    font-size: 17px;
}

/* Trend */
.trending {
    width: 1160px;
    height: 410px;
    margin: 40px auto;
}
.blogs {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between
}
.blogh1 {
    font-weight: bold;
    font-size: 24px;
    width: 110px;
    height: 40px;
}
.box {
    width: 360px;
}
.img img {
    width: 100%;
    border-radius: 6px;

}
.boxh1{
    font-size: 16px;
    color: #202124;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 40px;
}
.boxp {
    font-size: 14px;
    color: #A6ADB4;
    margin-top: 7px;
    margin-left: 40px;
}
.boxtext {
    margin: 20px;
}
.timebox{
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
}
.timeboxs {
    color: #A6ADB4;
    margin-right: 10px;
}
.timeboxh5 {
    margin-top: 1px;
    color: #A6ADB4;
    font-size: 15px;
}
/* Section 3 */
.lefthappeingwrap {
    width: 1160px;
    height: 960px;
    margin: 40px auto;
}
.titlehapp {
    width: 700px;
}
.titlehapp h1{
    font-size: 24px;
    font-weight: bold;
}
/* lefthap */
.lefthap {
    width: 770px;
    height: 900px;
    margin-top: 10px;
}
.city {
    position: relative;
}
.city img {
    width: 100%;
    height: 430px;
    border-radius: 6px;
}
.cityh5,.cityh1 ,.cityp {
    position: absolute;
    left: 4%;
}
.cityh5 {
    top: 10%;
    color: #fff;
    font-weight: bold;
}
.cityh1 {
    color: #fff;
    bottom: 28%;
    font-size: 24px;
    font-weight: bold;
}
.cityp {
    color: #fff;
    bottom: 18%;
    font-size: 16px;
}
.citytime {
    position: absolute;
    display: flex;
    bottom: 9%;
    left: 4%;
}
.citytimes ,.citytimeh5 {
    color: #CBD0D3;
    font-size: 14px;
}
.citytimeh5{
    margin-left: 5px;
}
/* Travel */
.travel {
    margin-top: 45px;
    position: relative;
}
.travel img {
    width: 100%;
    height: 430px;
    border-radius: 6px;

}

.travelh5 , .travelp , .travelh1 {
    position: absolute;
    left: 4%;
}
.travelh5 {
    top: 10%;
    color: #fff;
    font-weight: bold;
}
.travelh1 {
    color: #fff;
    bottom: 28%;
    font-size: 24px;
    font-weight: bold;
}
.travelp {
    color: #fff;
    bottom: 18%;
    font-size: 16px;
}
.travelclocl{
    position: absolute;
    display: flex;
    bottom: 9%;
    left: 4%;
}
.travelclocl {
    color: #CBD0D3;
    font-size: 14px;
}
.cloclh5 {
    margin-left: 5px;
}
.lefthappeingwrap {
    display: flex;
    flex-wrap: wrap;
}
/* Rithr */
.rightwraper {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 951px;
}
.righti {
    display: flex;
    margin-left: 90%;
    margin-top: -33px;
}

.righti i {
    font-size: 18px;
padding-left: 25px;
    }
.leftbangle {
    color: #A6ADB4;
    margin-right: 10px;
}
.angle {
    color: #202124;
}
.small {
    position: relative;
    margin-top:7%;
    margin-left: 15%;
    width: 360px;
}
.small img {
    width: 100%;
    object-fit: cover;
    height: 210px;
    border-radius: 6px;
}
.small h1 {
    color:#202124;
    font-weight: bold;
    margin-top: 20px;
}
.smallclocl {
    display: flex;
    color: #A6ADB4;
    margin-top: 15px;
    font-size: 15px;

}
.smallhou {
    font-size: 15px;
    margin-left: 5px;
}
/* footer */
footer{
    width: 100%;
    height: 200px;
    background-color: #A6ADB4;
    position: relative;
}
.fotr {
    display: flex;
    position: absolute;
    top: 56px;
    left: 10%;
}
.logofooter {
    color: #fff;
    font-weight: bold;
}
.navfooter {
    margin-left: 57px;
}
.navfot {
    display: flex;
}
.fotli {
    margin-bottom: 10px;
}
.fotli a{ 
    color: #CBD0D3;
    font-weight: bold;
}
.fotul2 {
    margin-left: 20px;
}
.fotli2 {
    margin-bottom: 10px;
}

.fotli2 a{ 
    color: #CBD0D3;
    font-weight: bold;
}
.fotul3 {
    margin-left: 20px;
}
.fotli3 {
    margin-bottom: 10px;
}

.fotli3 a{ 
    color: #CBD0D3;
    font-weight: bold;
}
.mail {
    margin-left: 30%;
    width: 300px;
}
#email {
    width: 240px;
    height: 40px;
    border: solid 1px #ffffff;
    background-color: transparent;
    position: relative;
    outline: none;
}
.arrowss {
    position: absolute;
    top: 10px;
    font-size: 20px;
    margin-left: 200px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}
.mail h5 {
    width: 300px;
    color: #CBD0D3;
    font-size: 12px;
    margin-top: 14px;
}

.social {
    display: flex;
    margin-left: 10%;
    width: 50px;
    height: 20px;
}
.social i {
    color: #fff;
    font-size: 20px;
    margin-left: 15px;
}